In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as sm


Location="loansmall.csv"
data = pd.read_csv(Location)

In [9]:
import scipy.stats as stats
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
lm=LinearRegression()

In [3]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,loan_status_num,verification_num,ownership_num
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2,1
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,0,1
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1,1
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1

In [4]:
headers=data.columns
headers

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'loan_status_num', 'verification_num', 'ownership_num'],
      dtype='object')

In [5]:
# getting an overview of our data
print("Our data has {0} rows and {1} columns".format(data.shape[0], data.shape[1]))
# checking for missing values
print("Are there missing values? {}".format(data.isnull().any().any()))
data.describe()

Our data has 194111 rows and 77 columns
Are there missing values? True

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,loan_status_num,verification_num,ownership_num
count,1.941110e+05,1.941110e+05,194111.000000,194111.000000,194111.000000,194111.000000,194111.000000,1.941070e+05,194111.000000,194082.000000,...,0.0,0.0,0.0,1.515750e+05,0.0,0.0,0.0,194111.00000,194111.000000,194111.000000
mean,4.681126e+06,5.610727e+06,13867.556836,13808.722458,13652.612595,13.983195,423.437101,7.237217e+04,16.413941,0.235782,...,NaN,NaN,NaN,3.009463e+04,NaN,NaN,NaN,3.12395,1.122332,2.110988
std,2.996480e+06,3.591882e+06,8100.382615,8069.141618,8122.386476,4.385244,241.147755,5.618884e+04,7.606960,0.690796,...,NaN,NaN,NaN,3.845751e+04,NaN,NaN,NaN,2.18647,0.873372,0.953860
min,5.473400e+04,7.047300e+04,500.000000,500.000000,0.000000,5.420000,15.670000,1.896000e+03,0.000000,0.000000,...,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,0.00000,0.000000,0.000000
25%,1.680253e+06,1.895884e+06,7800.000000,7750.000000,7500.000000,10.990000,248.520000,4.500000e+04,10.720000,0.000000,...,NaN,NaN,NaN,1.400000e+04,NaN,NaN,NaN,1.00000,0.000000,1.000000
50%,4.795738e+06,5.790433e+06,12000.000000,12000.000000,12000.000000,13.680000,375.490000,6.200000e+04,16.150000,0.000000,...,NaN,NaN,NaN,2.310000e+04,NaN,NaN,NaN,5.00000,1.000000,3.000000
75%,7.078253e+06,8.636921e+06,19500.000000,19200.000000,19075.000000,16.990000,556.910000,8.700000e+04,21.870000,0.000000,...,NaN,NaN,NaN,3.750000e+04,NaN,NaN,NaN,5.00000,2.000000,3.000000
max,1.023482e+07,1.209697e+07,35000.000000,35000.000000,35000.000000,26.060000,1408.130000,7.141778e+06,34.990000,29.000000,...,NaN,NaN,NaN,9.999999e+06,NaN,NaN,NaN,8.00000,2.000000,4.000000

The first thing that I notice is the number of columns. 75 is a lot to deal with and not all of it relevant to developing models. The second thing that I notice is the multitude of missing data. Again it seems to me that much of this data may not be particularly relevant. Much of the columns that are missing data do not seem to be relevant to the vast majority of the borrowers, so in some sense rather than missing those fields are simply not applicable the borrower in question. After looking at the data and the description of the column headers, I am of the opinion that date based data such as date and amount of last payments are not needed to build relevant data models.

In [2]:
def loan_status_to_numeric(x):
    if x=='Charged Off':
        return 0
    if x=='Current':
        return 1
    if x=='Default':
        return 2
    if x=='Does not meet the credit policy. Status:Charged Off':
        return 3
    if x=='Does not meet the credit policy. Status:Fully Paid':
        return 4
    if x=='Fully Paid':
        return 5
    if x=='In Grace Period':
        return 6
    if x=='Late (16-30 days)':
        return 7
    if x=='Late (31-120 days)':
        return 8

def verification_to_numeric(x):
    if x=='Not Verified':
        return 0
    if x=='Source Verified':
        return 1
    if x=='Verified':
        return 2

def ownership_to_numeric(x):
    if x=='NONE':
        return 0
    if x=='RENT':
        return 1
    if x=='OWN':
        return 2
    if x=='MORTGAGE':
        return 3
    if x=='OTHER':
        return 4

data['loan_status_num'] = data['loan_status'].apply(loan_status_to_numeric)
data['verification_num'] = data['verification_status'].apply(verification_to_numeric)
data['ownership_num'] = data['home_ownership'].apply(ownership_to_numeric)

In [6]:
data.corr()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,loan_status_num,verification_num,ownership_num
id,1.000000,0.970585,0.125117,0.135422,0.160821,0.167846,0.144287,0.019751,0.141335,0.065675,...,NaN,NaN,NaN,-0.009491,NaN,NaN,NaN,-0.276726,0.116892,0.061812
member_id,0.970585,1.000000,0.125686,0.135927,0.161444,0.159657,0.143200,0.018062,0.134246,0.059427,...,NaN,NaN,NaN,-0.007358,NaN,NaN,NaN,-0.275984,0.115233,0.064313
loan_amnt,0.125117,0.125686,1.000000,0.996551,0.986320,0.193517,0.950588,0.336186,0.083704,0.014527,...,NaN,NaN,NaN,0.254002,NaN,NaN,NaN,-0.102253,0.398291,0.203829
funded_amnt,0.135422,0.135927,0.996551,1.000000,0.990482,0.195963,0.955838,0.334738,0.086470,0.015535,...,NaN,NaN,NaN,0.253997,NaN,NaN,NaN,-0.104738,0.397821,0.203292
funded_amnt_inv,0.160821,0.161444,0.986320,0.990482,1.000000,0.199897,0.945451,0.329014,0.094204,0.016172,...,NaN,NaN,NaN,0.253924,NaN,NaN,NaN,-0.109271,0.404168,0.202992
int_rate,0.167846,0.159657,0.193517,0.195963,0.199897,1.000000,0.179737,-0.022616,0.179751,0.104400,...,NaN,NaN,NaN,-0.159168,NaN,NaN,NaN,-0.164752,0.217489,-0.105743
installment,0.144287,0.143200,0.950588,0.955838,0.945451,0.179737,1.000000,0.335329,0.085001,0.028524,...,NaN,NaN,NaN,0.233908,NaN,NaN,NaN,-0.072725,0.344864,0.165566
annual_inc,0.019751,0.018062,0.336186,0.334738,0.329014,-0.022616,0.335329,1.000000,-0.167451,0.058822,...,NaN,NaN,NaN,0.275513,NaN,NaN,NaN,0.026842,0.113602,0.183135
dti,0.141335,0.134246,0.083704,0.086470,0.094204,0.179751,0.085001,-0.167451,1.000000,-0.004455,...,NaN,NaN,NaN,0.052679,NaN,NaN,NaN,-0.118440,0.192542,0.011719
delinq_2yrs,0.065675,0.059427,0.014527,0.015535,0.016172,0.104400,0.028524,0.058822,-0.004455,1.000000,...,NaN,NaN,NaN,-0.024778,NaN,NaN,NaN,-0.019913,0.024907,0.049258
inq_last_6mths,-0.083329,-0.087623,-0.012411,-0.013482,-0.027828,0.200935,0.005704,0.064129,-0.008010,0.018330,...,NaN,NaN,NaN,0.033197,NaN,NaN,NaN,0.024763,0.014002,0.077923
mths_since_last_delinq,-0.029465,-0.024823,-0.030712,-0.030828,-0.017866,-0.060254,-0.036891,-0.051420,0.026863,-0.575104,...,NaN,NaN,NaN,-0.020881,NaN,NaN,NaN,0.016591,-0.000945,-0.032439
mths_since_last_record,0.228806,0.248417,0.075551,0.077267,0.224885,0.021536,0.048181,-0.100411,0.133576,-0.043230,...,NaN,NaN,NaN,-0.045610,NaN,NaN,NaN,-0.088878,0.032061,0.091438
open_acc,0.114181,0.105383,0.213026,0.214471,0.215009,0.027088,0.212048,0.159840,0.318214,0.055979,...,NaN,NaN,NaN,0.262110,NaN,NaN,NaN,-0.044175,0.114997,0.162371
pub_rec,0.096370,0.094394,-0.067614,-0.066844,-0.064359,0.068237,-0.055784,-0.023629,-0.041047,-0.022062,...,NaN,NaN,NaN,-0.076446,NaN,NaN,NaN,-0.016984,0.052346,0.002998
revol_bal,0.018164,0.017507,0.304425,0.303533,0.295247,0.002326,0.298686,0.323410,0.153665,-0.024949,...,NaN,NaN,NaN,0.802893,NaN,NaN,NaN,-0.030761,0.142086,0.165129
revol_util,0.093422,0.092059,0.117692,0.120660,0.125567,0.384025,0.149244,0.029110,0.242295,-0.013675,...,NaN,NaN,NaN,-0.141081,NaN,NaN,NaN,-0.102857,0.094430,-0.014205
total_acc,0.082332,0.072910,0.251092,0.250418,0.250095,-0.022992,0.234327,0.232858,0.241634,0.124981,...,NaN,NaN,NaN,0.219539,NaN,NaN,NaN,0.011348,0.158390,0.262365
out_prncp,0.313361,0.307972,0.421353,0.425934,0.431410,0.233355,0.313270,0.100847,0.110512,0.032442,...,NaN,NaN,NaN,0.085278,NaN,NaN,NaN,-0.376328,0.228996,0.106222
out_prncp_inv,0.313436,0.308042,0.421313,0.425899,0.431405,0.233459,0.313283,0.100842,0.110527,0.032436,...,NaN,NaN,NaN,0.085245,NaN,NaN,NaN,-0.376276,0.228965,0.106184
total_pymnt,-0.004449,-0.000695,0.864270,0.865849,0.857724,0.138663,0.861479,0.318241,0.041537,0.011382,...,NaN,NaN,NaN,0.222206,NaN,NaN,NaN,0.201463,0.324843,0.170816
total_pymnt_inv,0.020709,0.024566,0.859137,0.861403,0.869988,0.143353,0.856195,0.314250,0.049360,0.011859,...,NaN,NaN,NaN,0.222152,NaN,NaN,NaN,0.192191,0.332190,0.171825
total_rec_prncp,-0.028650,-0.024398,0.743512,0.744989,0.736628,-0.036055,0.775359,0.303156,-0.004800,-0.005081,...,NaN,NaN,NaN,0.222634,NaN,NaN,NaN,0.341668,0.249516,0.162295
total_rec_int,0.060082,0.061147,0.741019,0.742156,0.739352,0.488344,0.653757,0.204627,0.131866,0.045512,...,NaN,NaN,NaN,0.103946,NaN,NaN,NaN,-0.191475,0.351275,0.112197
total_rec_late_fee,-0.050677,-0.050859,0.042361,0.041936,0.033134,0.052569,0.049565,0.017986,-0.007311,0.022954,...,NaN,NaN,NaN,-0.003807,NaN,NaN,NaN,-0.032870,0.008204,-0.012385
recoveries,-0.002862,-0.004233,0.137547,0.137440,0.133324,0.137583,0.126342,0.021533,0.037580,0.011044,...,NaN,NaN,NaN,0.008766,NaN,NaN,NaN,-0.250576,0.067366,0.006197
collection_recovery_fee,-0.008843,-0.010186,0.080083,0.080078,0.073817,0.072393,0.075305,0.014440,0.020503,0.007904,...,NaN,NaN,NaN,0.008881,NaN,NaN,NaN,-0.146301,0.033751,0.007757
last_pymnt_amnt,0.053229,0.052435,0.368059,0.368895,0.367528,0.091340,0.350336,0.152687,-0.015603,0.000789,...,NaN,NaN,NaN,0.090730,NaN,NaN,NaN,0.468512,0.149433,0.100335
collections_12_mths_ex_med,0.033175,0.030742,-0.003790,-0.003420,-0.002441,0.041241,0.001607,0.003945,0.000466,0.024254,...,NaN,NaN,NaN,-0.004034,NaN,NaN,NaN,-0.005200,0.037219,0.000706
mths_since_last_major_derog,0.007343,0.007480,-0.080326,-0.080279,-0.080178,-0.009617,-0.077025,-0.093871,0.046204,-0.448756,...,NaN,NaN,NaN,-0.064934,NaN,NaN,NaN,-0.003233,-0.054814,-0.000062
policy_code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
annual_inc_joint,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0.026171,0.024133,0.012936,0.013322,0.013803,0.038024,0.016577,0.013489,0.008615,0.116333,...,NaN,NaN,NaN,0.009238,NaN,NaN,NaN,-0.012697,0.031190,0.012062
tot_coll_amt,0.015994,0.014445,-0.021526,-0.021525,-0.021537,0.009833,-0.020314,-0.002302,-0.014421,0.004048,...,NaN,NaN,NaN,-0.017959,NaN,NaN,NaN,0.005150,0.007226,0.007178
tot_cur_bal,0.003078,0.001926,0.313434,0.313428,0.313354,-0.145498,0.277573,0.488271,-0.017928,0.078147,...,NaN,NaN,NaN,0.340874,NaN,NaN,NaN,0.027917,0.193836,0.524828
open_acc_6m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_il_6m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_il_12m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_il_24m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mths_since_rcnt_il,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_bal_il,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
il_util,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_rv_12m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_rv_24m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max_bal_bc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
all_util,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_rev_hi_lim,-0.009491,-0.007358,0.254002,0.253997,0.253924,-0.159168,0.233908,0.275513,0.052679,-0.024778,...,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,-0.001698,0.106602,0.139066
inq_fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_cu_tl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inq_last_12m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_status_num,-0.276726,-0.275984,-0.102253,-0.104738,-0.109271,-0.164752,-0.072725,0.026842,-0.118440,-0.019913,...,NaN,NaN,NaN,-0.001698,NaN,NaN,NaN,1.000000,-0.100024,-0.009647
verification_num,0.116892,0.115233,0.398291,0.397821,0.404168,0.217489,0.344864,0.113602,0.192542,0.024907,...,NaN,NaN,NaN,0.106602,NaN,NaN,NaN,-0.100024,1.000000,0.143836
ownership_num,0.061812,0.064313,0.203829,0.203292,0.202992,-0.105743,0.165566,0.183135,0.011719,0.049258,...,NaN,NaN,NaN,0.139066,NaN,NaN,NaN,-0.009647,0.143836,1.000000

I am going to try to look at dti and interest rates as dependent variables.

In [7]:
result = sm.ols(formula='int_rate ~ revol_util + total_rec_int + verification_num + inq_last_6mths + out_prncp + out_prncp_inv', data=data).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               int_rate   R-squared:                       0.374
Model:                            OLS   Adj. R-squared:                  0.374
Method:                 Least Squares   F-statistic:                 1.928e+04
Date:                Thu, 18 Oct 2018   Prob (F-statistic):               0.00
Time:                        00:14:52   Log-Likelihood:            -5.1649e+05
No. Observations:              193932   AIC:                         1.033e+06
Df Residuals:                  193925   BIC:                         1.033e+06
Df Model:                           6
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            8.0503      0.023    351.460      0.000       8.005       8.095
revol_util           0.0555      0.000    165.939      0.000       0.055       0.056
total_rec_int        0.0007   3.84e-06    184.893      0.000       0.001       0.001
verification_num     0.2297      0.010     23.830      0.000       0.211       0.249
inq_last_6mths       0.7772      0.007    114.280      0.000       0.764       0.791
out_prncp           -0.0112      0.001    -17.315      0.000      -0.012      -0.010
out_prncp_inv        0.0111      0.001     17.165      0.000       0.010       0.012
==============================================================================
Omnibus:                     8005.431   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9065.703
Skew:                           0.510   Prob(JB):                         0.00
Kurtosis:                       3.284   Cond. No.                     2.17e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.17e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [8]:
result = sm.ols(formula='dti ~ open_acc + revol_util + total_acc', data=data).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    dti   R-squared:                       0.179
Model:                            OLS   Adj. R-squared:                  0.179
Method:                 Least Squares   F-statistic:                 1.405e+04
Date:                Thu, 18 Oct 2018   Prob (F-statistic):               0.00
Time:                        00:17:32   Log-Likelihood:            -6.4958e+05
No. Observations:              193932   AIC:                         1.299e+06
Df Residuals:                  193928   BIC:                         1.299e+06
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.2073      0.058     90.092      0.000       5.094       5.321
open_acc       0.5069      0.005    111.162      0.000       0.498       0.516
revol_util     0.0868      0.001    134.003      0.000       0.086       0.088
total_acc      0.0348      0.002     18.435      0.000       0.031       0.038
==============================================================================
Omnibus:                     5135.499   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4254.031
Skew:                           0.292   Prob(JB):                         0.00
Kurtosis:                       2.570   Cond. No.                         245.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [5]:
pd.pivot_table(data, index= 'addr_state',columns='grade', values= "member_id", aggfunc='count', fill_value= 0,
              margins = True, margins_name= 'Total')

grade           A      B      C      D      E     F     G   Total
addr_state
AK             87    167    134     93     50    15     4     550
AL            347    705    639    379    196    98    17    2381
AR            210    440    382    217     97    29     6    1381
AZ            675   1455   1136    608    309   136    40    4359
CA           5134  10311   8081   4910   2150   936   209   31731
CO            733   1322   1099    555    277   113    26    4125
CT            538   1010    782    428    245    93    17    3113
DC            120    211    147     98     56    24     5     661
DE             69    175    140     91     34    14     3     526
FL           2038   4228   3480   2055    859   388    98   13146
GA           1039   2071   1587    890    424   194    68    6273
HI            125    333    291    193     86    51     5    1084
IA              2      2      2      4      1     2     0      13
ID              1      3      4      2      1     0     0      11
IL           1156   2518   1998   1128    488   246    57    7591
IN            266    744    707    337    174    80    11    2319
KS            273    603    462    231    115    60    11    1755
KY            272    584    469    249    122    62    16    1774
LA            359    708    614    330    170    74    16    2271
MA            982   1603   1179    645    316   135    45    4905
MD            741   1389   1203    684    377   174    54    4622
ME              0      1      2      0      0     0     0       3
MI            670   1443   1206    729    315   138    33    4534
MN            551   1066    899    479    193    92    16    3296
MO            519   1031    868    430    205    87    24    3164
MS              6      7      7      4      2     2     0      28
MT             81    190    163     67     38    12     1     552
NC            734   1657   1385    788    383   179    32    5158
NE              1      1      1      7      3     1     0      14
NH            171    284    238    121     62    24    10     910
NJ           1245   2382   1996   1213    590   255    62    7743
NM            174    341    273    152     58    34    12    1044
NV            364    948    773    418    185    79    19    2786
NY           2522   5121   4344   2686   1222   562   134   16591
OH            913   2021   1686    902    424   195    47    6188
OK            252    601    458    236     99    49    15    1710
OR            393    932    659    370    143    67    12    2576
PA           1105   2127   1742   1038    477   236    34    6759
RI            145    261    221    120     67    20     3     837
SC            372    711    556    338    160    66    16    2219
SD             48    131    131     42     19     8     2     381
TN            240    654    616    315    171    73     8    2077
TX           2341   4713   3728   2224   1012   489   127   14634
UT            240    498    401    197    101    44    14    1495
VA            999   1882   1653    872    455   221    57    6139
VT             59     80     77     34     18     8     0     276
WA            665   1508   1246    667    304   155    35    4580
WI            388    815    652    314    149    77    17    2412
WV            153    289    272    140     70    25     6     955
WY             73    149    130     56     36    11     4     459
Total       30591  62426  50919  29086  13508  6133  1448  194111

In [10]:
pd.pivot_table(data, index= 'home_ownership',columns='grade', values= "member_id", aggfunc='count', fill_value= 0,
              margins = True, margins_name= 'Total')

grade               A      B      C      D      E     F     G   Total
home_ownership
MORTGAGE        19116  33243  25320  12319   6230  2772   680   99680
NONE               10     14     10      9      1     5     1      50
OTHER              26     51     44     30     17     6     7     181
OWN              2367   5030   4156   2547   1082   490   130   15802
RENT             9072  24088  21389  14181   6178  2860   630   78398
Total           30591  62426  50919  29086  13508  6133  1448  194111

In [12]:
pd.pivot_table(data, index= 'purpose', values= "member_id", aggfunc='count', fill_value= 0,
              margins = True, margins_name= 'Total')

                    member_id
purpose
car                      2836
credit_card             41762
debt_consolidation     110691
educational               422
home_improvement        11374
house                    1185
major_purchase           4946
medical                  1830
moving                   1364
other                   11060
renewable_energy          180
small_business           3647
vacation                 1059
wedding                  1755
Total                  194111

In [14]:
pd.pivot_table(data, index= 'verification_status',columns='grade', values= "member_id", aggfunc='count', fill_value= 0,
              margins = True, margins_name= 'Total')

grade                    A      B      C      D      E     F     G   Total
verification_status
Not Verified         12884  24545  14592   8679   2170   568   173   63611
Source Verified       7164  13138  11217   6690   3215  1406   313   43143
Verified             10543  24743  25110  13717   8123  4159   962   87357
Total                30591  62426  50919  29086  13508  6133  1448  194111

In [15]:
pd.pivot_table(data, index= ['grade','sub_grade'], values= "member_id", aggfunc='count', fill_value= 0,
              margins = True, margins_name= 'Total')

                 member_id
grade sub_grade
A     A1              4117
      A2              4405
      A3              5406
      A4              7506
      A5              9157
B     B1             10466
      B2             13088
      B3             14878
      B4             14491
      B5              9503
C     C1             10993
      C2             10520
      C3             10474
      C4              9944
      C5              8988
D     D1              7304
      D2              6328
      D3              5460
      D4              5351
      D5              4643
E     E1              2909
      E2              3355
      E3              2683
      E4              2492
      E5              2069
F     F1              1727
      F2              1424
      F3              1230
      F4               993
      F5               759
G     G1               493
      G2               349
      G3               258
      G4               189
      G5               159
Total               194111

In [16]:
pd.pivot_table(data, index= 'loan_status', values= "member_id", aggfunc='count', fill_value= 0,
              margins = True, margins_name= 'Total')

                                                    member_id
loan_status
Charged Off                                             22737
Current                                                 63488
Default                                                   206
Does not meet the credit policy. Status:Charged...        761
Does not meet the credit policy. Status:Fully Paid       1988
Fully Paid                                             101588
In Grace Period                                          1041
Late (16-30 days)                                         344
Late (31-120 days)                                       1958
Total                                                  194111

In [17]:
pd.pivot_table(data, index= 'term', values= "member_id", aggfunc='count', fill_value= 0,
              margins = True, margins_name= 'Total')

            member_id
term
 36 months     145564
 60 months      48547
Total          194111

In [22]:
pd.pivot_table(data, index= 'open_acc', values= "member_id", aggfunc='count', fill_value= 0,
              margins = True, margins_name= 'Total')

          member_id
open_acc
0.0               3
1.0              82
2.0            1079
3.0            2896
4.0            5882
5.0            9778
6.0           13766
7.0           16495
8.0           18103
9.0           18954
10.0          17847
11.0          16380
12.0          14250
13.0          11961
14.0           9988
15.0           8093
16.0           6519
17.0           5217
18.0           4037
19.0           3260
20.0           2359
21.0           1844
22.0           1457
23.0           1097
24.0            873
25.0            608
26.0            338
27.0            230
28.0            162
29.0            125
30.0             89
31.0             59
32.0             44
33.0             36
34.0             42
35.0             25
36.0             20
37.0             13
38.0             12
39.0             13
40.0              8
41.0              9
42.0              4
43.0              5
44.0              3
45.0              2
46.0              3
47.0              1
48.0              1
49.0              3
50.0              2
51.0              1
52.0              1
53.0              2
62.0              1
Total        194082

In [23]:
pd.pivot_table(data, index= 'grade', values= ['loan_amnt','int_rate','dti','open_acc'], aggfunc='mean', fill_value= 0,
              margins = True, margins_name= 'Average')

               dti   int_rate     loan_amnt   open_acc
grade
A        13.898456   7.607301  12815.464516  10.840876
B        16.200589  11.694546  12893.581601  10.721097
C        17.219325  15.192287  14106.607062  10.748119
D        17.259017  18.038264  13558.085505  10.563865
E        17.483232  20.606682  17375.048120  10.811579
F        17.818718  22.932610  19139.601337  11.177564
G        17.533570  23.684820  20844.337017  11.849448
Average  16.415236  13.983884  13869.045687  10.752635

In [24]:
pd.pivot_table(data, index= 'pymnt_plan', values= "member_id", aggfunc='count', fill_value= 0,
              margins = True, margins_name= 'Total')

            member_id
pymnt_plan
n              194107
y                   4
Total          194111

In [25]:
pd.pivot_table(data, index= 'addr_state',columns='purpose', values= "member_id", aggfunc='count', fill_value= 0,
              margins = True, margins_name= 'Total')

purpose,car,credit_card,debt_consolidation,educational,home_improvement,house,major_purchase,medical,moving,other,renewable_energy,small_business,vacation,wedding,Total
addr_state,,,,,,,,,,,,,,,
AK,4,114,324,0,28,3,16,5,3,30,0,13,8,2,550
AL,32,463,1385,4,177,14,76,18,9,136,3,44,6,14,2381
AR,31,303,762,3,88,3,48,19,2,88,1,21,6,6,1381
AZ,76,921,2479,8,276,28,113,52,38,227,5,92,14,30,4359
CA,452,6888,18200,57,1541,201,745,327,257,1859,36,618,242,308,31731
CO,63,975,2384,12,205,26,85,44,34,179,4,82,8,24,4125
CT,48,627,1748,7,204,17,106,25,24,208,4,49,15,31,3113
DC,5,144,375,0,24,5,21,4,8,41,0,13,10,11,661
DE,11,113,280,0,48,1,13,1,4,31,0,12,3,9,526
FL,210,2628,7265,44,991,130,364,122,102,793,13,291,67,126,13146
GA,114,1276,3494,21,448,36,170,72,46,355,3,162,23,53,6273
HI,12,196,685,4,40,2,24,5,16,61,0,20,11,8,1084
IA,0,0,8,0,1,0,0,2,0,2,0,0,0,0,13
ID,0,2,6,0,0,0,0,0,0,3,0,0,0,0,11
IL,94,1879,4165,15,426,47,184,72,43,405,4,137,30,90,7591
IN,11,636,1359,0,133,11,31,18,6,82,0,18,10,4,2319
KS,30,448,991,3,98,15,31,11,8,81,2,21,7,9,1755
KY,28,400,1033,1,107,8,53,14,9,75,2,30,9,5,1774
LA,31,465,1276,6,163,11,84,27,9,115,3,37,19,25,2271
MA,76,997,2882,13,305,31,109,21,37,274,5,77,22,56,4905
MD,73,843,2720,9,253,31,146,34,39,293,5,86,33,57,4622
ME,0,1,0,0,0,0,0,0,0,2,0,0,0,0,3
MI,72,1047,2518,12,300,45,123,29,25,223,7,94,13,26,4534
MN,38,856,1842,5,159,15,74,27,16,171,4,57,16,16,3296
MO,59,725,1809,7,187,17,83,20,17,149,5,58,14,14,3164
MS,3,3,8,3,1,0,0,0,1,6,0,1,0,2,28
MT,6,122,317,2,36,1,14,8,5,22,0,16,1,2,552
NC,82,988,3082,2,356,37,115,59,28,268,5,82,19,35,5158
NE,0,2,8,0,3,0,0,0,0,1,0,0,0,0,14
NH,10,210,542,1,50,3,13,8,7,47,1,11,4,3,910
NJ,110,1564,4394,22,457,43,212,65,71,495,7,146,42,115,7743
NM,27,227,630,1,55,7,27,7,3,44,0,9,2,5,1044
NV,48,596,1576,4,156,31,66,33,10,176,2,50,15,23,2786
NY,215,3595,9142,46,853,80,442,126,193,1223,19,321,114,222,16591
OH,81,1386,3484,21,416,45,137,63,38,317,3,116,23,58,6188
OK,22,395,990,3,104,8,49,20,8,66,0,30,12,3,1710
OR,34,627,1493,5,100,15,52,36,14,123,2,52,11,12,2576
PA,124,1324,3839,22,479,43,201,52,44,417,6,93,35,80,6759
RI,8,185,501,2,47,3,15,4,4,44,1,11,5,7,837
SC,29,404,1302,9,142,12,70,22,11,147,1,48,6,16,2219
SD,2,97,222,0,21,1,2,5,1,16,0,8,3,3,381
TN,17,500,1276,2,108,6,33,13,9,85,0,16,8,4,2077
TX,205,3008,8365,18,909,67,441,168,80,852,17,295,79,130,14634
UT,20,352,907,5,65,6,15,23,1,52,1,34,8,6,1495
VA,101,1172,3639,10,360,39,147,52,43,360,6,117,34,59,6139
VT,1,62,160,0,14,1,8,3,2,18,0,6,1,0,276
WA,62,1020,2665,8,230,21,98,55,24,237,2,97,30,31,4580
WI,35,683,1304,5,127,15,51,24,12,91,1,44,9,11,2412
WV,17,183,579,0,70,3,21,6,3,51,0,9,10,3,955
WY,7,110,276,0,13,1,18,9,0,19,0,3,2,1,459
Total,2836,41762,110691,422,11374,1185,4946,1830,1364,11060,180,3647,1059,1755,194111

In [27]:
pd.pivot_table(data, index= 'emp_length', values= "member_id", aggfunc='count', fill_value= 0,
              margins = True, margins_name= 'Total')

            member_id
emp_length
1 year          12473
10+ years       60468
2 years         17469
3 years         15643
4 years         11618
5 years         14539
6 years         11683
7 years         11028
8 years          8990
9 years          7171
< 1 year        15307
Total          186389

In [28]:
pd.pivot_table(data, index= 'grade', columns='emp_length', values= "member_id", aggfunc='count', fill_value= 0,
              margins = True, margins_name= 'Total')

emp_length,1 year,10+ years,2 years,3 years,4 years,5 years,6 years,7 years,8 years,9 years,< 1 year,Total
grade,,,,,,,,,,,,
A,1940,9504,2732,2500,1909,2303,1800,1579,1359,1120,2611,29357
B,3959,19325,5723,5090,3626,4748,3761,3568,2976,2328,4741,59845
C,3200,16164,4409,4033,3020,3691,3135,2999,2427,1928,3877,48883
D,2010,8661,2730,2390,1796,2234,1759,1644,1270,1015,2372,27881
E,884,4281,1221,1056,826,1006,784,773,614,515,1096,13056
F,376,2042,544,467,356,460,372,379,288,220,446,5950
G,104,491,110,107,85,97,72,86,56,45,164,1417
Total,12473,60468,17469,15643,11618,14539,11683,11028,8990,7171,15307,186389